<%= error_messages_for 'arch_decision' %>

<div class="box">
<!--[form:arch_decision]-->
<p><%= f.text_field :summary, :size => 100, :required => true %><br /><em><%= l(:text_caracters_maximum, ArchDecision::SUMMARY_MAX_SIZE) %></em></p>

<p><%= f.text_area :problem_description, :rows => 5, :class => 'wiki-edit' %></p>

<p><%= f.text_area :resolution, :rows => 5, :class => 'wiki-edit' %></p>

<%= wikitoolbar_for 'arch_decision_problem_description' %>
<%= wikitoolbar_for 'arch_decision_resolution' %>
</div>

<!--[eoform:arch_decision]-->
