<div id="related_factors">

<h3 class="icon22 icon22-info"><%= l(:label_factor_plural) %></h3>


<%= error_messages_for 'factor' %>
<%= javascript_tag "var isDrop = false;" %>

<table class="list">
  <thead><tr>
	<th><%=l(:label_id)%></th>
	<th><%=l(:field_status)%></th>
	<th><%=l(:label_factors_prioritized)%> 
<% if authorize_for(:arch_decisions, :reorder_factors) %>
			<small>(<%=l(:label_factors_reorder)%>)</small>
<% end %>
	</th>
    <th>
<% if authorize_for(:arch_decisions, :add_factor) %>
    	<%= link_to t(:label_factor_add_html), {:controller => 'factors', :project_id => @project.id, :action => 'index', :mode => 'popup', :arch_decision_id => @arch_decision.id}, :popup => ['choose_factor', 'height=400,width=680,scrollbars=1'], :class => 'icon icon-add', :id => 'add_factor_link' %>
<% end %>		
	</th>
  </tr></thead>
  <tbody>
<% is_odd_row = false  %>
<% for factor in @arch_decision.factors %>
  <% factor_div_id = "factor_#{factor.id}" %>
  <% factor_target_id = "factor_target_#{factor.id}" %>
  <% row_class = cycle("odd", "even") %>
  <tr class="<%= row_class %>"><td colspan="4"><div id="<%= factor_target_id %>" class="drag-drop-target"></div></td></tr>
  <tr class="<%= row_class %>">
	<td><%= factor.id %></td>
    <td align="center" <%= "class='rejected'" if factor.refuted? %> style="width:10%; white-space:nowrap;"><%= l(factor.status.name_key) %></td>
	<td><div id="<%= factor_div_id %>" <%= "class='rejected'" if factor.refuted? %> style="cursor: -moz-grab;">
		<%= link_to(h(factor.summary) + " " + text_for_discussion_count(factor).html_safe, {}, :href => "#", 
				:onmouseup => "if (!isDrop) window.location.href='" + url_for(:controller => 'factors', :project_id => @project.id, :action => 'show', :id => factor.id) + "';") %>
	</div></td>
    <td align="center" style="width:10%; white-space:nowrap;">
      <small><%= link_to_if_authorized l(:button_remove), 
		 { :project_id => @project.id, :action => 'remove_factor', :id => @arch_decision.id, :factor_id => factor.id },
  		:confirm => l(:text_arch_decision_factor_remove_confirmation, :id => factor.id),
                :remote => true,
	        :class => 'icon icon-del'  %></small>
      <small><%= link_to_if_authorized l(:button_delete), 
		{ :project_id => @project.id, :action => 'destroy_factor', :id => @arch_decision.id, :factor_id => factor.id},
		:confirm => l(:text_factor_destroy_confirmation, :id => factor.id),  
	        :remote => true,
		:class => 'icon icon-del' %></small>
    </td>
  </tr>
<% if authorize_for(:arch_decisions, :reorder_factors) %>
<script>
  $('#<%= factor_div_id %>').draggable({
    revert: true,
    start: function(event, ui) { isDrop = true; },
    end: function(event, ui) { isDrop = false; }
  });
  $('#<%= factor_target_id %>').droppable({
    hoverClass: "drag-drop-target-hover",
    drop: function(event, ui) { 
      $.ajax({
        type: "GET",
        url: "<%= url_for :action=> 'reorder_factors', :project_id => @project.id, :id => @arch_decision.id %>?above=" + (ui.draggable.attr("id").split('_')[1]) + "&below=<%= factor.id %>",
        dataType: 'script',
        success: function(data){
          $('#ajax-indicator').hide();
          var response = eval("(" + data + ")");
        }
      });
    }
  });
</script>
<% end %>

<% end %>
<% if authorize_for(:arch_decisions, :reorder_factors) %>
  <% row_class = cycle("odd", "even") %>
  <tr class="<%= row_class %>"><td colspan="4"><div id="drop-to-bottom" class="drag-drop-target"></div></td></tr>
<script>
  $('#drop-to-bottom').droppable({
    hoverClass: "drag-drop-target-hover",
    drop: function(event, ui) { 
      $.ajax({
        type: "GET",
        url: "<%= url_for :action=> 'reorder_factors', :project_id => @project.id, :id => @arch_decision.id %>?below=" + (ui.draggable.attr("id").split('_')[1]),
        dataType: 'script',
        success: function(data){
          $('#ajax-indicator').hide();
          var response = eval("(" + data + ")");
        }
      });
    }
  });
</script>
<% end %>

<% if authorize_for(:factors, :new) %>
  <tr class="<%= row_class %>" id="new_factor_form_row">
	<td></td>
	<!-- td align="center" style="width:10%; white-space:nowrap;"></td-->
	<td colspan="3">
<%= form_for(@factor || Factor.new, :remote => true, :url => { :project_id => @project.id, :action => "new_factor", :id => @arch_decision.id }, :html => { :id => "new_factor" }) do |f| %>
	<%= f.select :status_id, (@factor_statuses.collect {|s| [s.name, s.id]}) %>
	  <%= f.text_field :summary, :size => 100, :required => true %>
	  <small>
	  <%= submit_tag l(:button_save) %>
	  <%= submit_tag l(:button_cancel), :onclick => "cancelForm('new_factor'); return false;" %>
	  </small>
<% end %>
    </td>
  </tr>
<% end %>
  </tbody>
</table>

<% if authorize_for(:factors, :new) %>
<div id="new_factor_link">
	<%= link_to_function t(:label_factor_new_html), "showForm('new_factor')", :class => 'icon icon-add' %>
</div>

<%= javascript_tag "initializeForm('new_factor');" %>
<% end %>
</div>
