<div id="related_factors">

<%= error_messages_for 'factor' %>

<table class="list">
  <thead><tr>
	<th><%=l(:field_id)%></th>
	<th><%=l(:field_status)%></th>
	<th><%=l(:label_factors_prioritized)%></th>
    <th><%= link_to l(:label_factor_add), {:controller => 'factors', :project_id => @project, :action => 'index', :mode => 'popup', :arch_decision_id => @arch_decision}, :popup => ['choose_factor', 'height=400,width=680,scrollbars=1'], :class => 'icon icon-add', :id => 'add_factor_link' %></th>
  </tr></thead>
  <tbody>
<% is_odd_row = false  %>
<% for factor in @arch_decision.factors %>
  <% factor_div_id = "factor_#{factor.id}" %>
  <% factor_target_id = "factor_target_#{factor.id}" %>
  <% row_class = cycle("odd", "even") %>
  <tr class="<%= row_class %>"><td colspan="3"><div id="<%= factor_target_id %>" class="drag-drop-target"></div></td></tr>
  <tr class="<%= row_class %>">
	<td><%= factor.id %></td>
    <td align="center" style="width:10%; white-space:nowrap;"><%= factor.status.name %></td>
	<td><div id="<%= factor_div_id %>" style="cursor: -moz-grab;"><%= link_to(h(factor.summary), :controller => 'factors', :project_id => @project, :action => 'show', :id => factor) %></div></td>
    <td align="center" style="width:10%; white-space:nowrap;">
      <small><%= link_to_remote (l(:button_remove), 
								#{ :url => "projects/#{@project.identifier}/arch_decisions/remove_factor/#{@arch_decision.id}/#{factor.id}",
								{ :url => { :project_id => @project, :action => 'remove_factor', :id => @arch_decision, :factor_id => factor},
									:confirm => l(:text_arch_decision_factor_remove_confirmation, factor.id) },
								:class => 'icon icon-del')  %></small>
      <small><%= link_to_remote l(:button_delete), 
								#{ :url => "projects/#{@project.identifier}/arch_decisions/destroy_factor/#{@arch_decision.id}/#{factor.id}", 
								{ :url => { :project_id => @project, :action => 'destroy_factor', :id => @arch_decision, :factor_id => factor},
									:confirm => l(:text_factor_destroy_confirmation, factor.id) },  
								:class => 'icon icon-del' %></small>
    </td>
  </tr>
  <%= draggable_element(factor_div_id) %>
  <%= drop_receiving_element(factor_target_id,		# The id of the receiving element
	  :with   => "'above=' + (element.id.split('_').last()) + '&below=#{factor.id};'",     		# The query string parameters
	  :url    => {:action=> 'reorder_factors', :project_id => @project, :id => @arch_decision}, # The action to call
	  :hoverclass => "drag-drop-target-hover"
  )%>

<% end %>
  <% row_class = cycle("odd", "even") %>
  <tr class="<%= row_class %>"><td colspan="3"><div id="drop-to-bottom" class="drag-drop-target"></div></td></tr>
  <%= drop_receiving_element('drop-to-bottom',
	  :with   => "'below=' + (element.id.split('_').last()) + ';'",
	  :url    => {:action=> 'reorder_factors', :project_id => @project, :id => @arch_decision},
	  :hoverclass => "drag-drop-target-hover"
  )%>


  <tr class="<%= row_class %>" id="new_factor_form_row">
	<td></td>
	<td align="center" style="width:10%; white-space:nowrap;">Proposed</td> <!-- TODO: determine this dynamically -->
	<td colspan="2">
<% remote_form_for(:factor, @arch_decision, :url => { :project_id => @project, :action => "new_factor", :id => @arch_decision }, :html => { :id => "factor" }) do |f| %>
	  <%= f.text_field :summary, :size => 100, :required => true %>
	  <small>
	  <%= submit_tag l(:button_save) %>
	  <%= submit_tag l(:button_cancel), :onclick => "cancelForm(); return false;" %>
	  </small>
<% end %>
    </td>
  </tr>
  </tbody>
</table>

<div id="new_factor_link">
	<%= link_to_function l(:label_factor_new), "showForm()", :class => 'icon icon-add' %>
</div>

<%= javascript_tag "initializeForm();" %>
</div>
