<div id="related_factors">

<%= error_messages_for 'factor' %>

<table class="list">
  <thead><tr>
	<th><%=l(:field_id)%></th>
	<th><%=l(:label_factors_prioritized)%></th>
    <th><%= link_to l(:label_factor_add), {:controller => 'factors', :action => 'index', :mode => 'popup', :arch_decision_id => @arch_decision}, :popup => ['choose_factor', 'height=400,width=680'], :class => 'icon icon-add' %></th>
  </tr></thead>
  <tbody>
<% for factor in @arch_decision.factors %>
  <tr class="<%= cycle("odd", "even") %>">
	<td><%= factor.id %></td>
	<td><%= link_to(h(factor.summary), :controller => 'factors', :action => 'show', :id => factor) %></td>
    <td align="center" style="width:10%; white-space:nowrap;">
      <small><%= link_to_remote (l(:button_remove), 
								{ :url => "/arch_decisions/remove_factor/#{@arch_decision.id}/#{factor.id}",
									:confirm => l(:text_arch_decision_factor_remove_confirmation, factor.id) },
								:class => 'icon icon-del')  %></small>
      <small><%= link_to_remote l(:button_delete), 
								{ :url => "/arch_decisions/destroy_factor/#{@arch_decision.id}/#{factor.id}", 
									:confirm => l(:text_factor_destroy_confirmation, factor.id) },  
								:class => 'icon icon-del' %></small>
    </td>
  </tr>
<% end %>
  <tr class="<%= cycle("odd", "even") %>" id="new_factor_form_row">
	<td></td>
	<td colspan="2">
<% remote_form_for(:factor, @arch_decision, :url => { :action => "new_factor", :id => @arch_decision }, :html => { :id => "factor" }) do |f| %>
	  <%= f.text_field :summary, :size => 100, :required => true %>
	  <small>
	  <%= submit_tag l(:button_save) %>
	  <%= submit_tag l(:button_cancel), :onclick => "cancelForm(); return false;" %>
	  </small>
<% end %>
    </td>
  </tr>
  </tbody>
</table>

<div id="new_factor_link">
	<%= link_to_function l(:label_factor_new), "showForm()", :class => 'icon icon-add' %>
</div>

<script type="text/javascript">
	// TODO: refactor to external script
	function showForm() {
		Element.hide('new_factor_link');
		Element.show('new_factor_form_row');
	}
	function hideForm() {
		Element.hide('new_factor_form_row');
		Element.show('new_factor_link');
	}
	function cancelForm() {
		hideForm();
		Form.Element.clear('factor_summary');
	}
	function callOnSubmit() {
		var code = document.getElementById('factor').getAttribute('onsubmit');
		eval(code);
	}
	cancelForm();
</script>

</div>