<div class="contextual">
<%= link_to_if_authorized l(:label_factor_plural), {:controller => 'factors', :action => 'index', :project_id => @project.id }, :class => 'icon icon-summary' %>
<%= link_to_if_authorized l(:label_arch_decision_new), {:controller => 'arch_decisions', :project_id => @project.id, :action => 'new'}, :class => 'icon icon-add' %>
</div>

<h2><%=l(:label_arch_decision_plural)%></h2>

<%= form_tag({}, :method => :get) do %>
<fieldset><legend><%= l(:label_filter_plural) %></legend>
<label><%= l(:label_arch_decision) %>:</label>
<%= hidden_field_tag('project_id', value = @project.id) %>
<%= text_field_tag 'summary', params[:summary], :size => 30 %>
<%= submit_tag l(:button_apply), :class => "small", :name => nil %>
</fieldset>
<% end %>
&nbsp;

<table class="list">
  <thead><tr>
	<%= sort_header_tag('id', :caption => '#', :default_order => 'desc') %>
	<%= sort_header_tag('status_id', :caption => l(:field_status)) %>
	<%= sort_header_tag('summary', :caption => l(:label_arch_decision)) %>
	<th><%=l(:field_resolution)%></th>
	<%= sort_header_tag('assigned_to_id', :caption => l(:field_assigned_to)) %>
	<%= sort_header_tag('updated_on', :caption => l(:field_updated_on), :default_order => 'desc') %>
    <th></th>
  </tr></thead>
  <tbody>
<% for ad in @arch_decisions %>
  <tr class="<%= cycle("odd", "even") %>">
	<td><%= ad.id %></td>
	<td align="center" style="white-space:nowrap;"><%= l(ad.status.name_key) %></td>
	<td><%= link_to(h(ad.summary), :project_id => @project.id, :action => 'show', :id => ad.id) %></td>
	<td>
	  <% if ad.status.resolved? %>
	    <% ad.strategies.each do |s| %>
	      <%= s.short_name + "<br/>" unless s.is_rejected %>
	    <% end %>
	  <% end %>
	</td>
	<td align="center" style="white-space:nowrap;"><%= ad.assigned_to ? user_name(ad.assigned_to) : "-" %></td>
	<td align="center" style="white-space:nowrap;"><%= format_time(ad.updated_on) %></td>
	<td align="center" style="width:10%">
	    <small><%= link_to_if_authorized(l(:button_delete), 
							{ :action => 'destroy', :project_id => @project.id, :id => ad.id }, 
							:confirm => l(:text_arch_decision_destroy_confirmation, :id => ad.id), 
							:class => 'icon icon-del') %></small>
 	 </td>
  </tr>
<% end %>
  </tbody>
</table>

<p class="pagination"><%= pagination_links_full @arch_decision_pages, @arch_decision_count %></p>

<% html_title(l(:label_arch_decision_plural)) -%>
