<div class="contextual">
<%= link_to_if_authorized(l(:button_edit), {:project_id => @project, :action => 'edit', :id => @arch_decision}, :class => 'icon icon-edit', :accesskey => accesskey(:edit)) %>
<%= watcher_tag(@arch_decision, User.current) %>
</div>
<h2><%=l(:label_arch_decision)%> #<%= @arch_decision.id %></h2> 
	
<div class="<%= css_arch_decision_classes(@arch_decision) %> details">
	<h3><%=h @arch_decision.summary%></h3>
	<p class="author">
		<%= l(:label_rad_added_time_by, :author => user_name(@arch_decision.created_by), :age => distance_of_time_in_words(Time.now, @arch_decision.created_on)) + '.' %>
		<%= l(:label_rad_updated_time_by, :author => user_name(@arch_decision.updated_by), :age => distance_of_time_in_words(Time.now, @arch_decision.updated_on)) + '.' if @arch_decision.created_on != @arch_decision.updated_on %>
	</p>

<table width="100%">
<tr>
    <td style="width:15%" class="status"><b><%=l(:field_status)%>:</b></td><td style="width:35%" class="status"><%= @arch_decision.status.name %></td>
    <td style="width:15%" class="start-date"></td><td style="width:35%"></td>
</tr>
<tr>
    <td class="assigned-to"><b><%=l(:field_assigned_to)%>:</b></td><td><%= avatar(@arch_decision.assigned_to, :size => "14") %><%= @arch_decision.assigned_to ? link_to_user(@arch_decision.assigned_to) : "-" %></td>
    <td class="progress"></td><td class="progress"></td>
</tr>
</table>


	<hr />
	<p><strong><%=l(:field_problem_description)%></strong></p>
	<div class="wiki">
		<%= textilizable @arch_decision.problem_description%>	
	</div>

	<hr />
	<p><strong><%=l(:field_resolution)%></strong></p>
	<div class="wiki">
		<%= textilizable @arch_decision.resolution%>	
	</div>

<% if User.current.allowed_to?(:add_issue_watchers, @project) ||
        (@arch_decision.watchers.any? && User.current.allowed_to?(:view_issue_watchers, @project)) %>
<hr />
<div id="watchers">
<%= render :partial => 'watchers/watchers', :locals => {:watched => @arch_decision} %>
</div>
<% end %>

</div>

<p><br/></p>

<%= render :partial => 'related_factors', :locals => { :arch_decision => @arch_decision } %>

<p><br/></p>

<%= render :partial => 'strategies/related_strategies', :locals => { :arch_decision => @arch_decision } %>

<p><br/></p>

<%= render :partial => 'arch_decision_issues/related_issues', :locals => { :arch_decision => @arch_decision } %>

<p><br/></p>

<%= render :partial => 'arch_decision_discussions/related_discussions' %>


<div class="splitcontentright">
<% content_for :sidebar do %>
    <h3><%= l(:field_created_on) %></h3>
    <p><span class="icon icon-time"><%= @arch_decision.created_on %></span></p>

    <h3><%= l(:field_updated_on) %></h3>
    <p><span class="icon icon-time"><%= @arch_decision.updated_on %></span></p>
<% end %>
</div>

<% content_for :header_tags do %>
    <%= javascript_include_tag 'shortcut', :plugin => 'redmine_arch_decisions' %>
    <%= javascript_include_tag 'related_types', :plugin => 'redmine_arch_decisions' %>
    <%= stylesheet_link_tag 'arch_decisions', :plugin => 'redmine_arch_decisions' %>
<% end %>

<% html_title(l(:label_arch_decision)) -%>
