<div id="related_discussions">
<h3 class="icon22 icon22-comment"><%= l(:label_discussion) %></h3>

<% unless @discussions.nil? or @discussions.empty? %>
<% @discussions.each do |d| %>
	<a name="<%= "discussion-#{d.id}" %>"></a>
	<div class="contextual">
		<%= link_to_if_authorized image_tag('comment.png'), { :url => {:controller => 'arch_decision_discussions', :action => 'quote', :id => d.id} }, :title => l(:button_quote), :remote => true %>
		<%= link_to_if_authorized(image_tag('edit.png'), {:controller => 'arch_decision_discussions', :action => 'edit', :project_id => @project.id, :id => d.id}, :title => l(:button_edit)) if d.editable_by?(User.current) %>
		<%= link_to_if_authorized(image_tag('delete.png'), {:controller => 'arch_decision_discussions', :action => 'destroy', :project_id => @project.id, :id => d.id}, :method => :post, :confirm => l(:text_are_you_sure), :title => l(:button_delete)) if d.destroyable_by?(User.current) %>
	</div>
	<div class="message reply">
	<h4><%=h d.subject %> - <%= authoring d.created_on, d.created_by %></h4>
	<div class="wiki"><%= textilizable d, :content, :attachments => d.attachments %></div>
		<%= link_to_attachments d, :author => false %>
	</div>
<% end %>
<% end %>

<% if authorize_for(:arch_decision_discussions, :new) %>
<div id="new_discussion_form_row" style="display:none;">
<%= labelled_form_for @discussion, :url => {:controller => 'arch_decision_discussions', :action => 'new'}, :html => {:multipart => true, :id => 'new_discussion'} do |f| %>
	<%= render :partial => 'arch_decision_discussions/form', :locals => {:f => f, :discussion => @discussion} %>
	<p><%= submit_tag l(:button_create) %>
	<%= submit_tag l(:button_cancel), :onclick => "cancelForm('new_discussion'); return false;" %>
	<%= link_to l(:label_preview), 
                     { :url => { :controller => 'arch_decision_discussions', :action => 'preview' },
                       :method => 'post',
                       :update => 'preview',
                       :with => "Form.serialize('new_discussion')",
                       :complete => "Element.scrollTo('preview')"
                     }, { :remote => true, :accesskey => accesskey(:preview) } %></p>
<% end %>
</div>
<div id="new_discussion_link">
	<br/>
	<%= link_to_function t(:label_discussion_new_html), "showForm('new_discussion')", :class => 'icon icon-add' %>
</div>
<div id="preview" class="wiki"></div>

<%= javascript_tag "initializeForm('new_discussion');" %>
<% end %>
<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'scm' %>
<% end %>
</div>
