<% if !@popup %>
	<div class="contextual">
	<%= link_to_if_authorized t(:label_factor_new_html), {:controller => 'factors', :project_id => @project.id, :action => 'new'}, :class => 'icon icon-add' %>
	</div>

	<h2><%=l(:label_factor_plural)%></h2>
<% else %>
	<h2><%=t(:label_factor_add_html)%></h2>
<% end %>

<%= form_tag({}, :method => :get) do %>
<fieldset><legend><%= l(:label_filter_plural) %></legend>
<label><%= l(:label_factor) %>:</label>
<%= text_field_tag 'summary', params[:summary], :size => 30 %>
<%= hidden_field_tag('project_id', value = @project.id) %>
<%= hidden_field_tag('arch_decision_id', value = @arch_decision.id) if @popup %>
<%= hidden_field_tag('mode', value = 'popup') if @popup %>
<%= submit_tag l(:button_apply), :class => "small", :name => nil %>
</fieldset>
<% end %>
&nbsp;

<table class="list">
  <thead><tr>
	<%= sort_header_tag('id', :caption => '#', :default_order => 'desc') %>
	<%= sort_header_tag('status_id', :caption => l(:field_status)) %>
	<%= sort_header_tag('summary', :caption => l(:label_factor)) %>
	<!-- th><%=l(:field_details)%></th -->
	<%= sort_header_tag('scope', :caption => l(:field_scope)) %>
	<%= sort_header_tag('updated_on', :caption => l(:field_updated_on), :default_order => 'desc') %>
<% if !@popup %>
    <th></th>
<% end %>
  </tr></thead>
  <tbody>
<% for factor in @factors %>
  <tr class="<%= cycle("odd", "even") %>">
	<td><%= factor.id %></td>
	<td align="center" style="white-space:nowrap;"><%= l(factor.status.name_key) %></td>
	<% if !@popup %>
		<td><%= link_to(h(factor.summary), :project_id => @project.id, :action => 'show', :id => factor.id) %></td>
	<% else %>
		<td><%= link_to h(factor.summary), "/projects/#{@project.id}/arch_decisions/add_factor/#{@arch_decision.id}/#{factor.id}" %></td>
	<% end %>
	<!-- td><%= textilizable factor.details, :factor => factor %></td -->
	<td align="center" style="white-space:nowrap;"><%= factor.scope_name %></td>
	<td align="center" style="white-space:nowrap;"><%= format_time(factor.updated_on) %></td>
	<% if !@popup %>
	  <td align="center" style="width:10%">
	    <small><%= link_to_if_authorized(l(:button_delete), 
							{ :project_id => @project.id, :action => 'destroy', :id => factor.id }, 
							:confirm => l(:text_factor_destroy_confirmation, :id => factor.id), 
							:class => 'icon icon-del') %></small>
	  </td>
	<% end %>
  </tr>
<% end %>
  </tbody>
</table>

<p class="pagination"><%= pagination_links_full @factor_pages, @factor_count %></p>

<% html_title(l(:label_factor_plural)) -%>
