<div class="contextual">
<%= link_to_if_authorized(l(:button_edit), {:action => 'edit', :project_id => @project, :id => @factor}, :class => 'icon icon-edit', :accesskey => accesskey(:edit)) %>
</div>
<h2><%=l(:label_factor)%> #<%= @factor.id %></h2> 
	
<div class="issue details">
	<h3 <%= "class='rejected'" if @factor.refuted? %>><%=h @factor.summary%></h3>
	<p class="author">
		<%= l(:label_added_time_by, user_name(@factor.created_by), distance_of_time_in_words(Time.now, @factor.created_on)) + '.' %>
		<%= l(:label_updated_time_by, user_name(@factor.updated_by), distance_of_time_in_words(Time.now, @factor.updated_on)) + '.' if @factor.created_on != @factor.updated_on %>
	</p>

<table width="100%">
<tr>
    <td style="width:15%" class="scope"><b><%=l(:field_scope)%>:</b></td><td style="width:35%" class="scope"><%= @factor.scope_name %></td>
    <td style="width:15%" class="start-date"></td><td style="width:35%"></td>
</tr>
<tr>
    <td style="width:15%" class="status"><b><%=l(:field_status)%>:</b></td><td style="width:35%" class="<%= @factor.refuted? ? "rejected-highlight" : "status" %>"><%= @factor.status.name %></td>
    <td style="width:15%" class="start-date"></td><td style="width:35%"></td>
</tr>
</table>

	<hr />
	<p><strong><%=l(:field_details)%></strong></p>
	<div class="wiki">
		<%= textilizable @factor.details%>	
	</div>

	<hr />
	<p><strong><%=l(:field_evidence)%></strong></p>
	<div class="wiki">
		<%= textilizable @factor.evidence%>	
	</div>

</div>

<table class="list">
  <thead><tr>
	<th><%=l(:label_id)%></th>
	<th><%=l(:label_arch_decisions_related)%></th>
    <th></th>
  </tr></thead>
  <tbody>
<% for ad in @factor.arch_decisions %>
  <tr class="<%= cycle("odd", "even") %>">
	<td><%= ad.id %></td>
	<td><%= link_to(h(ad.summary), :controller => 'arch_decisions', :project_id => ad.project, :action => 'show', :id => ad) %></td>
	<td align="center" style="width:10%"></td>
  </tr>
<% end %>
  </tbody>
</table>

<p><br/></p>

<%= render :partial => 'arch_decision_discussions/related_discussions' %>


<div class="splitcontentright">
<% content_for :sidebar do %>
    <h3><%= l(:field_created_on) %></h3>
    <p><span class="icon icon-time"><%= @factor.created_on %></span></p>

    <h3><%= l(:field_updated_on) %></h3>
    <p><span class="icon icon-time"><%= @factor.updated_on %></span></p>
<% end %>

<% content_for :header_tags do %>
    <%= javascript_include_tag 'shortcut', :plugin => 'redmine_arch_decisions' %>
    <%= javascript_include_tag 'related_types', :plugin => 'redmine_arch_decisions' %>
    <%= stylesheet_link_tag 'arch_decisions', :plugin => 'redmine_arch_decisions' %>
<% end %>

<% html_title(l(:label_factor)) -%>
