<div id="related_strategies">

<h3 class="icon22 icon22-options"><%= l(:label_strategy_plural) %></h3>

<%= error_messages_for 'strategy' %>

<table class="list">
  <thead><tr>
	<th><%=l(:label_id)%></th>
	<th><%=l(:field_is_rejected)%></th>
	<th><%=l(:field_short_name)%></th>
	<th><%=l(:field_summary)%></th>
    <th></th>
  </tr></thead>
  <tbody>
<% is_odd_row = false  %>
<% for strategy in @arch_decision.strategies %>
  <% strategy_div_id = "strategy_#{strategy.id}" %>
  <% strategy_target_id = "strategy_target_#{strategy.id}" %>
  <% row_class = cycle("odd", "even") %>
  <tr class="<%= row_class %>"><td colspan="5"><div id="<%= strategy_target_id %>" class="drag-drop-target"></div></td></tr>
  <tr class="<%= row_class %>">
	<td><%= strategy.id %></td>
	<td align="center"><%= image_tag("false.png") if strategy.rejected? %></td>
	<td <%= "class='rejected'" if strategy.rejected? %>><div id="<%= strategy_div_id %>" style="cursor: -moz-grab;"><%= link_to(h(strategy.short_name) + " " + text_for_discussion_count(strategy).html_safe, :controller => 'strategies', :action => 'show', :id => strategy.id) %></div></td>
    <td <%= "class='rejected'" if strategy.rejected? %>><%= h strategy.summary %></td>
    <td align="center" style="width:10%; white-space:nowrap;">
      <small><%= link_to_if_authorized l(:button_delete), 
			{ :controller => 'strategies', :action => 'destroy', :id => strategy.id },
			:confirm => l(:text_strategy_destroy_confirmation, :id => strategy.id), 
	                :remote => true,
			:class => 'icon icon-del' %></small>
    </td>
  </tr>
  <!-- %= draggable_element(strategy_div_id) % -->
  <!-- %= drop_receiving_element(strategy_target_id,		# The id of the receiving element
	  :with   => "'above=' + (element.id.split('_').last()) + '&below=#{strategy.id};'",     		# The query string parameters
	  :url    => {:action=> 'reorder_factors', :project_id => @project, :id => @arch_decision}, # The action to call
	  :hoverclass => "drag-drop-target-hover"
  )% -->

<% end %>
  <% row_class = cycle("odd", "even") %>
  <!-- tr class="<%= row_class %>"><td colspan="5"><div id="drop-to-bottom" class="drag-drop-target"></div></td></tr -->
  <!-- %= drop_receiving_element('drop-to-bottom',
	  :with   => "'below=' + (element.id.split('_').last()) + ';'",
	  :url    => {:action=> 'reorder_factors', :project_id => @project, :id => @arch_decision},
	  :hoverclass => "drag-drop-target-hover"
  )% -->


<% if authorize_for(:strategies, :new) %>
  <tr class="<%= row_class %>" id="new_strategy_form_row">
	<td></td>
	<td></td>
	<!-- td align="center" style="width:10%; white-space:nowrap;"></td-->
	<td colspan="3">
<%= form_for(@strategy || Strategy.new, :remote => true, :url => { :controller => 'strategies', :action => "new", :arch_decision_id => @arch_decision.id }, :html => { :id => "new_strategy" }) do |f| %>
	  <%= f.text_field :short_name, :size => 40, :required => true %>
	  <%= f.text_field :summary, :size => 100 %>
	  <small>
	  <%= submit_tag l(:button_save) %>
	  <%= submit_tag l(:button_cancel), :onclick => "cancelForm('new_strategy'); return false;" %>
	  </small>
<% end %>
    </td>
  </tr>
<% end %>
  </tbody>
</table>

<% if authorize_for(:strategies, :new) %>
<div id="new_strategy_link">
	<%= link_to_function t(:label_strategy_new_html), "showForm('new_strategy')", :class => 'icon icon-add' %>
</div>

<%= javascript_tag "initializeForm('new_strategy');" %>
<% end %>
</div>
