<div class="contextual">
<!-- TODO: Change to link_to_if_authorized --> 
<%= link_to(l(:button_edit), {:action => 'edit', :project_id => @project, :id => @strategy}, :class => 'icon icon-edit', :accesskey => accesskey(:edit)) %>
</div>
<h2><%=l(:label_factor)%> #<%= @strategy.id %></h2> 
	
<div class="issue details">
	<h3 <%= "class='rejected'" if @strategy.rejected? %>><%=h @strategy.short_name%></h3>
	<p class="author">
		<%= h @strategy.summary %>
	</p>

	<p class="author">
		<%= l(:label_added_time_by, user_name(@strategy.created_by), distance_of_time_in_words(Time.now, @strategy.created_on)) + '.' %>
		<%= l(:label_updated_time_by, user_name(@strategy.updated_by), distance_of_time_in_words(Time.now, @strategy.updated_on)) + '.' if @strategy.created_on != @strategy.updated_on %>
	</p>

<table width="100%">
<tr>
    <td style="width:15%" class="status"><b><%=l(:field_is_rejected)%>:</b></td><td style="width:35%" class="<%= @strategy.rejected? ? "rejected-highlight" : "status" %>"><%= @strategy.rejected? ? l(:general_text_Yes) : l(:general_text_No) %></td>
    <td style="width:15%" class="start-date"></td><td style="width:35%"></td>
</tr>
<% if @strategy.rejected? %>
<tr>
    <td style="width:15%" class="status"><b><%=l(:field_reason_rejected)%>:</b></td><td colspan="3" class="status"><%= textilizable @strategy.reason_rejected %></td>
</tr>
<% end %>
</table>

	<hr />
	<p><strong><%=l(:field_details)%></strong></p>
	<div class="wiki">
		<%= textilizable @strategy.details%>	
	</div>

</div>

<% ad = @strategy.arch_decision %>
<table class="list">
  <thead><tr>
	<th><%=l(:label_id)%></th>
	<th><%=l(:label_arch_decisions_related)%></th>
    <th></th>
  </tr></thead>
  <tbody>
  <tr class="<%= cycle("odd", "even") %>">
	<td><%= ad.id %></td>
	<td><%= link_to(h(ad.summary), :controller => 'arch_decisions', :project_id => @project, :action => 'show', :id => ad) %></td>
	<td align="center" style="width:10%"></td>
  </tr>
  </tbody>
</table>

<div class="splitcontentright">
<% content_for :sidebar do %>
    <h3><%= l(:field_created_on) %></h3>
    <p><span class="icon icon-time"><%= @strategy.created_on %></span></p>

    <h3><%= l(:field_updated_on) %></h3>
    <p><span class="icon icon-time"><%= @strategy.updated_on %></span></p>
<% end %>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'arch_decisions', :plugin => 'redmine_arch_decisions' %>
<% end %>

<% html_title(l(:label_factor)) -%>
