<div id="related_issues">

<h3 class="icon22 icon22-workflow"><%= l(:label_issue_plural) %></h3>


<%= error_messages_for 'arch_decision_issue' %>

<table class="list">
  <thead><tr>
	<th><%=l(:label_id)%></th>
	<th><%=l(:field_issue_type)%></th>
	<th><%=l(:field_status)%></th>
	<th><%=l(:label_issue_or_url)%></th>
    <th>
<% if authorize_for(:arch_decision_issues, :add_issue) %>
<!--
    	<%= link_to t(:label_issue_add_html), {:project_id => @project.id, :action => 'add_issue', :id => @arch_decision.id}, :popup => ['choose_issue', 'height=400,width=680,scrollbars=1'], :class => 'icon icon-add', :id => 'add_issue_link' %>
-->
<% end %>		
	</th>
  </tr></thead>
  <tbody>
<% is_odd_row = false  %>
<% for adissue in @arch_decision.arch_decision_issues %>
  <% issue = adissue.issue %>
  <% row_class = cycle("odd", "even") %>
  <tr class="<%= row_class %>">
	<td><%= issue.id if issue %></td>
    <td align="center" style="width:10%; white-space:nowrap;"><%= adissue.issue_type %></td>
    <td align="center" style="width:10%; white-space:nowrap;"><%= issue.status.name if issue %></td>
	<td>
		<%= link_to(h(issue.subject), :controller => 'issues', :action => 'show', :id => issue) if issue %>
		<%= "<a href='#{adissue.external_url}'>#{adissue.external_url}</a>".html_safe if adissue.external_url %>
	</td>
    <td align="center" style="width:10%; white-space:nowrap;">
      <small><%= 
				if issue
					link_to_if_authorized l(:button_remove), 
							{ :controller => 'arch_decision_issues', :action => 'remove_issue', :project_id => @project.id, :arch_decision_id => @arch_decision.id, :issue_id => issue.id},
							:confirm => l(:text_arch_decision_issue_remove_confirmation, :id => issue.id),
	                                                :remote => true,
							:class => 'icon icon-del'
				else
					link_to_if_authorized l(:button_remove), 
								{ :controller => 'arch_decision_issues', :action => 'remove_issue', :project_id => @project.id, :arch_decision_id => @arch_decision.id, :arch_decision_issue_id => adissue.id},
								:confirm => l(:text_arch_decision_url_remove_confirmation),
	                                                        :remote => true,
								:class => 'icon icon-del'
				end
	  %></small>
    </td>
  </tr>
<% end %>

<% if authorize_for(:arch_decision_issues, :add_issue) %>
  <% row_class = cycle("odd", "even") %>
  <tr class="<%= row_class %>" id="add_issue_form_row">
	<td colspan="5"><br/>
<%= form_for(@arch_decision_issue || ArchDecisionIssue.new, :remote => true, :url => { :controller => 'arch_decision_issues', :action => "add_issue", :project_id => @project.id }, :html => { :id => "add_issue" }) do |adi| %>
	<%= adi.select :issue_type, (ArchDecisionIssue.issue_types.collect {|t| [t, t]}) %>
	<%= l(:label_issue) %> #<%= adi.text_field :issue_id, :size => 10 %>
	<%= l(:text_or_external_url) %> <%= adi.text_field :external_url, :size => 100 %>
	<%= adi.hidden_field :arch_decision_id, :value => @arch_decision.id %>
	  <small>
	  <%= submit_tag l(:button_add) %>
	  <%= submit_tag l(:button_cancel), :onclick => "cancelForm('add_issue'); return false;" %>
	  </small>
<% end %>
    </td>
  </tr>
<% end %>
  </tbody>
</table>

<% if authorize_for(:arch_decision_issues, :add_issue) %>
<div id="add_issue_link">
	<%= link_to_function t(:label_issue_add_html), "showForm('add_issue')", :class => 'icon icon-add' %>
</div>

<%= javascript_tag "initializeForm('add_issue');" %>
<% end %>
</div>
