<div id="related_arch_decisions">
<hr />

<div class="contextual">
<% if authorize_for('arch_decision_issues', 'add_issue') %>
    <%= toggle_link l(:button_add), 'add-arch-decision-form'%>
<% end %>
</div>

<p><strong><%=l(:label_arch_decisions_related)%></strong></p>

<%= error_messages_for 'arch_decision_issue' %>

<% if @issue.arch_decision_issues.any? %>
<table style="width:100%">
<% @issue.arch_decision_issues.each do |adissue| %>
  <% ad = adissue.arch_decision %>
  <tr>
    <td>
    	<%= adissue.issue_type_phrase %>
		<%= link_to(l(:label_arch_decision) + " ##{ad.id}", :controller => 'arch_decisions', :action => 'show', :id => ad) %>
	</td>
	<td><%= h(ad.summary) %>	</td>
    <td align="center" style="width:10%; white-space:nowrap;"><%= ad.status.name %></td>
    <td>
      <!-- Should be link_to_if_authorized, but for some reason it's not authorizing -->
      <small><%= link_to_remote_if_authorized "", 
						{ :url => {:controller => 'arch_decision_issues', 
									:action => 'remove_issue', 
									:project_id => @project, 
									:arch_decision_id => ad, 
									:issue_id => @issue, 
									:return_to => "issue"
								},
							:confirm => l(:text_issue_arch_decision_remove_confirmation, :id => ad.id)},
						:class => 'icon icon-del'  %></small>
    </td>
  </tr>
<% end %>
</table>
<% end %>

<% if authorize_for(:arch_decision_issues, :add_issue) %>
<% remote_form_for(:arch_decision_issue, @arch_decision_issue, 
			:url => { :controller => "arch_decision_issues", :action => "add_issue", :project_id => @project, :return_to => "issue"}, 
			:html => { :id => "add-arch-decision-form", :style => (@arch_decision_issue ? '' : 'display: none;') }) do |adi| %>
	<%= adi.hidden_field :issue_id, :value => @issue.id %>
	<%= adi.select :issue_type, (ArchDecisionIssue.issue_types.collect {|t| [ArchDecisionIssue.issue_type_phrase(t), t]}) %>
	<%= l(:label_arch_decision) %> #
	<%= adi.text_field :arch_decision_id, :size => 10 %>
	  <small>
	  <%= submit_tag l(:button_add) %>
	  <%= submit_tag l(:button_cancel), :onclick => "cancelForm('add_ad'); return false;" %>
	  </small>
    </td>
<% end %>
<% end %>
</div>
